/* Globals */

:root {
    --sidebar-width: 280px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
}

/* Themes */

@media (prefers-color-scheme: light) {
    :root {
        --bg: #eff1f5;
        --fg: #4c4f69;  

        --sidebar-bg: #e6e9ef;
        --sidebar-fg: #4c4f69;
        --sidebar-non-existant: #9ca0b0;
        --sidebar-active: #dc8a78;
        --sidebar-spacer: #9ca0b0;

        --scrollbar: #9ca0b0;

        --icons: #9ca0b0;
        --icons-hover: #8c8fa1;

        --links: #1e66f5;

        --inline-code-color: #fe640b;

        --quote-bg: #e6e9ef;
        --quote-border: #dce0e8;

        --table-border-color: #dce0e8;
        --table-header-bg: #e6e9ef;
        --table-alternate-bg: #dce0e8;

        --searchbar-border-color: #dce0e8;
        --searchbar-bg: #e6e9ef;
        --searchbar-fg: #4c4f69;
        --searchbar-shadow-color: #dce0e8;
        --searchresults-header-fg: #4c4f69;
        --searchresults-border-color: #dce0e8;
        --searchresults-li-bg: #eff1f5;
        --search-mark-bg: #fe640b;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #303446;
        --fg: #c6d0f5;  

        --sidebar-bg: #292c3c;
        --sidebar-fg: #c6d0f5;
        --sidebar-non-existant: #737994;
        --sidebar-active: #f2d5cf;
        --sidebar-spacer: #737994;

        --scrollbar: #737994;

        --icons: #737994;
        --icons-hover: #838ba7;

        --links: #8caaee;

        --inline-code-color: #ef9f76;

        --quote-bg: #292c3c;
        --quote-border: #232634;

        --table-border-color: #232634;
        --table-header-bg: #292c3c;
        --table-alternate-bg: #232634;

        --searchbar-border-color: #232634;
        --searchbar-bg: #292c3c;
        --searchbar-fg: #c6d0f5;
        --searchbar-shadow-color: #232634;
        --searchresults-header-fg: #c6d0f5;
        --searchresults-border-color: #232634;
        --searchresults-li-bg: #303446;
        --search-mark-bg: #ef9f76;
    }
}