/* Globals */

:root {
    --sidebar-width: 280px;
    --page-padding: 15px;
    --content-max-width: 750px;
    --menu-bar-height: 50px;
}

/* Themes */

@media (prefers-color-scheme: light) {
    :root {
        --bg: hsl(0, 0%, 100%);
        --fg: hsl(0, 0%, 0%);

        --sidebar-bg: #fafafa;
        --sidebar-fg: hsl(0, 0%, 0%);
        --sidebar-non-existant: #aaaaaa;
        --sidebar-active: #1f1fff;
        --sidebar-spacer: #f4f4f4;

        --scrollbar: #8F8F8F;

        --icons: #747474;
        --icons-hover: #000000;

        --links: #20609f;

        --inline-code-color: #301900;

        --theme-popup-bg: #fafafa;
        --theme-popup-border: #cccccc;
        --theme-hover: #e6e6e6;

        --quote-bg: hsl(197, 37%, 96%);
        --quote-border: hsl(197, 37%, 91%);

        --table-border-color: hsl(0, 0%, 95%);
        --table-header-bg: hsl(0, 0%, 80%);
        --table-alternate-bg: hsl(0, 0%, 97%);

        --searchbar-border-color: #aaa;
        --searchbar-bg: #fafafa;
        --searchbar-fg: #000;
        --searchbar-shadow-color: #aaa;
        --searchresults-header-fg: #666;
        --searchresults-border-color: #888;
        --searchresults-li-bg: #e4f2fe;
        --search-mark-bg: #a2cff5;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(226, 23%, 11%);
        --fg: #bcbdd0;
        --menu-bar-bg: rgb(40, 45, 63, 80%);
        --icon-button-color: rgb(255, 255, 255, 80%);
        --sidebar-bg: #282d3f;
        --sidebar-fg: #c8c9db;
        --sidebar-part-color: rgb(255, 255, 255, 60%);
        --sidebar-part-border-color: rgb(255, 255, 255, 20%);
        --sidebar-border: #484e65;
        --sidebar-non-existant: #505274;
        --sidebar-active: #2b79a2;
        --sidebar-spacer: #2d334f;
        --scrollbar: var(--sidebar-fg);
        --icons: #9a9bae;
        --icons-hover: #d9dcf0;
        --links: #2b74a5;
        --inline-code-color: #c5c8c6;
        --theme-popup-bg: #161923;
        --theme-popup-border: #737480;
        --theme-hover: #282e40;
        --quote-bg: hsl(226, 15%, 17%);
        --quote-border: hsl(226, 15%, 22%);
        --table-border-color: hsl(226, 23%, 16%);
        --table-header-bg: hsl(226, 23%, 31%);
        --table-alternate-bg: hsl(226, 23%, 14%);
        --searchbar-border-color: #484e65;
        --searchbar-placeholder-color: rgb(255, 255, 255, 40%);
        --searchbar-bg: #282d3f;
        --searchbar-fg: #fff;
        --searchbar-border-active: #2b74a5;
        --searchbar-shadow-active: rgb(43, 116, 165, 20%);
        --searchbar-shadow-color: rgb(0, 0, 0, 10%);
        --searchresults-header-fg: #5f5f71;
        --searchresults-border-color: #5c5c68;
        --searchresults-li-bg: #242430;
        --search-mark-bg: #a2cff5;
    }
}